html {
    font-size: 100%;
    font-family: sans-serif;
    background-color: white;
}
body {
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
}

/* layout */
header {
    background-color: white;
    border-bottom: 1px solid #2E4053;
    padding-top: 50px;

    /* layout */
    display: grid;
    grid-template-columns: 2fr 1fr;
}
main {
    padding-top: 0.5in;
}
.paper {
    width: 21cm;
    display: grid;

    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
footer {
    padding-top: 30px;
    padding-bottom: 20px;
}
footer p {
    margin: 0;
    text-align: end;
}

/* navbar */
nav {
    grid-template-columns: 1/2;
}
nav ul {
    list-style-type: none;
    margin-bottom: 0;
    display: flex;
}
nav ul li {
    padding: 10px 20px;
    border: 1px solid #2E4053;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
nav ul li a {
    text-decoration: none;
    color: #2E4053;
    font-size: 1.2em;
    font-family: sans-serif;
}

/* text */
header h1 {
    font-size: 2.5em;
    font-family: sans-serif;
    margin: 0;
}
h2 {
    border-bottom: 3px solid rgba(47, 79, 79, 0.6);
    padding-bottom: 2px;
    margin-top: 4px;
    margin-bottom: 16px;
    font-size: 1.4em;
    text-transform: uppercase;
}
p i {
    color: darkgray;
}

/* list */
.add ul {
    list-style-type: none;
}

/* space */
.tab {
    display: inline-block;
    width: 40px;
}

/* head page */
.head {
    border-bottom: 4px solid darkslategray;
    margin-bottom: 30px;
}
.head h1 {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 2em;
}
.head h1+p {
    margin-top: 0;
    margin-bottom: 0;
}
.head h1+p i {
    color: #36454F;    
    font-weight: normal;
    font-size: 1.2em;
    font-family: "Sarabun", sans-serif;
}

/* additional */
.add p {
    margin-bottom: 0;
}
.add ul{
    margin-top: 5px;
}

/* contact */
.contact h3 {
    margin-top: 0;
    margin-bottom: 5px;
}
.contact ul {
    list-style-type: none;
    margin-top: 0;
}

/* certificate */
.cert h3{
    margin-top: 0;
    margin-bottom: 5px;
}
.cert ul {
    margin-top: 0;
}

/* color */
.c-1 {
    background-color: lavender;
}
.c-2 {
    background-color: lightcyan;
}
.c-3 {
    background-color: lightgoldenrodyellow;
}
.c-4 {
    background-color: #FFF0EE;
}

/* specie */
.b-l {
    border-left: 1px solid #2E4053;
}
.b-r {
    border-right: 1px solid #2E4053;
}
.b-b {
    border-bottom: 1px solid #2E4053;
}
.bb-none {
    margin-bottom: -0.8px;
}
.note {
    background-color: #e7f3fe;
    border-left: 6px solid lightskyblue;
    margin-bottom: 20px;
}
.note h5 {
    padding-left: 10px;
    margin: 0;
    margin-top: 10px;
}
.note p {
    margin: 5px 0;
    padding-left: 10px;
}
  