@media screen and (max-width: 760px){
    main {
        overflow: scroll;
    }
    
    main div {
        width: max-content;
    }
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

table {
    width: 100%;
}

td div.course {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
}

.c1 {
    background-color: #F38BA077;
}
.c2 {
    background-color: #907FA477;
}
.c3 {
    background-color: #94D0CC77;
}
.c4 {
    background-color: #F2B88077;
}
.c5 {
    background-color: #caf2a477;
}
.c6 {
    background-color: #F2E1A477;
}

.hide {
    color: #FFFFFFFF;
    background-color: #FFFFFFFF;
    box-shadow: none;
}